VITE_SPOTIFY_CLIENT_ID=""
VITE_SPOTIFY_CLIENT_SECRET=""
VITE_SPOTIFY_BASE_API_URL=https://api.spotify.com
VITE_SPOTIFY_ACCOUNT_API_URL=https://accounts.spotify.com
VITE_AUTH_REDIRECT_URI=http://localhost:5173/callback

VITE_LAST_FM_API_KEY=""
VITE_LAST_FM_BASE_API_URL=http://ws.audioscrobbler.com/2.0/
