.button {
	cursor: pointer;
	color: #fff;
	border: none;
	border-radius: 24px;
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 600;
	font-family: var(--main-bold-font);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.button--secondary {
	background: linear-gradient(
		45deg,
		var(--secondary-accent-color) 0%,
		var(--primary-accent-color) 50%,
		var(--secondary-accent-color) 100%
	);
	background-size: 200% 200%;
	background-position: 0% 50%;
	transition: background-position 0.8s ease-out;

	&:hover {
		background-position: 100% 50%;
	}
}

.button--primary {
	background-color: var(--primary-accent-color);

	&:hover {
		filter: brightness(110%);
	}
}

/* Button Icon */

.buttonIcon {
  background: none;
  border: none;
  cursor: pointer;
  width: fit-content;
  transition: filter 0.2s ease-out;

  &:hover {
    transition: filter 0.2s ease-out;
    filter: opacity(0.5);
  }
}
