.panel {
	background-color: var(--bg-panel-color);
	border-radius: var(--border-radius-md);
	padding: var(--spacing-md);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.panel--lg {
	padding: var(--spacing-lg);
}

.panel--md {
	padding: var(--spacing-md);
}

.panel--sm {
	padding: var(--spacing-sm);
}
